@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello</h1>
    <br />
    <h2>Welcome to our collaborative text editor web app.</h2>
</div>
<div class="imgcontainer">
    <img src="img/nadwaBg-1.png"/>
</div>